appdirs
asgiref
attrs 
autobahn
Automat 
bcrypt 
build
cffi 
channels
channels-redis
click
colorama
constantly 
cryptography 
daphne
Django
hyperlink 
idna 
incremental
joblib 
msgpack
numpy
packaging
pandas
pillow
pip-tools
pyasn1 
pyasn1-modules
pycparser 
pyOpenSSL
pyproject_hooks
python-dateutil
pytz
pywin32
redis
scikit-surprise
service-identity 
setuptools
six 
sqlparse
Twisted
twisted-iocpsupport 
txaio 
typing_extensions 
tzdata
wheel
zope.interface 
