{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid chat-container d-flex flex-row mb-3">
    <div class="chat">
        <div class="chat-head d-flex flex-column justify-content-start p-3">
            <h2>Chats</h2>
            <div class="search input-group">
                <input class="form-control me-2" id="name-input" type="search" placeholder="Search"
                    aria-label="Search" />
                <button class="btn btn-success" id="name-submit" type="submit">Search</button>
                <ul id="suggestions" class="dropdown suggestion-dropdown"></ul>
            </div>
        </div>
        <div class="chat-list d-flex flex-column m-2 overflow-auto">
            <div class="d-flex justify-content-around">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a aria-current="page" href="#" class="nav-link active" style="background: #eeeeee;">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store:chat:group_chat' %}">Groups</a>
                    </li>
                </ul>
            </div>
            <div class="list d-flex flex-grow-1">
                <div class="text-muted m-auto">
                    Your chats will appear here
                </div>
            </div>
        </div>
    </div>
    <div class="chat-window d-flex flex-column">
        <div class="chat-area d-flex m-auto flex-column">
            <div class="text-muted m-auto">
                Your messages will appear here
            </div>
        </div>
    </div>
</div>
{{ users|json_script:"users" }}
{{ current_user|json_script:"current-user" }}
{{ chats|json_script:"chats" }}

<script src="{% static 'js/chat/chat_list.js' %}"></script>
<script>
    window.addEventListener("load", function () {
        var headerHeight = document.getElementsByTagName("header")[0].clientHeight;
        var footerHeight = document.getElementsByTagName("footer")[0].clientHeight;
        var container = document.querySelector(".chat-container");

        container.style.width = `calc(90vw - ${headerHeight}px - ${footerHeight}px)`;
    });

    document.querySelector("#name-input").focus();
    document.querySelector("#name-input").onkeyup = function (e) {
        if (e.key === "Enter") {
            // enter, return
            document.querySelector("#name-submit").click();
        }
    };

    document.querySelector("#name-submit").onclick = function (e) {
        var usersData = JSON.parse(document.getElementById('users').textContent);
        var userName = document.querySelector("#name-input").value;
        usersData.forEach(user => {
            if (user.username === userName) {
                window.location.pathname = "/chat/" + user.id + "/";
            }
        })
    };
</script>

{% endblock content %}