{% if products %}
    {% for product in products %}
        <div class="product-item">
            <a href="{% url 'store:product-detail' product.slug %}">
                {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}">
                {% endif %}
                <h5>{{ product.name }}</h5>
                <p>${{ product.price }}</p>
            </a>
        </div>
    {% endfor %}
{% else %}
    <p>No products found in this category.</p>
{% endif %}